<html>
  <head>
    <meta charset="utf-8">
    <title>Word is yours!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="script.js"></script>
  </head>
  <body>
    <div class='textIndex'>
      <div id='welcome'>
        Bienvenue!
      </div>
      <div id='notice'>
        Vous allez devoir trouver la traduction française du mot affiché <br/>
        À chaque mot trouvé, un point gagné <br/>
        À chaque erreur, un point perdu <br/>
        Objectif : 20 points! <br/>
        Vous avez compris? Alors c'est parti!
      </div>
    </div>
    <a href="/play" class="play">JOUER</a>
  </body>
  <footer>
    <hr/>
    <a href='/'>
      <img id='logo' alt='Logo WIY' src='/images/logo-wiy.png'></img>
    </a>
  </footer>
</html>
