<html>
  <head>
    <meta charset="utf-8">
    <title>Play - Word is yours!</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>

  <body>

    <h1> Traduisez le mot suivant </h1>
    <div id="end" class="popup_block">
    	<div id='finalText'></div>
    </div>
    <div class='box'>
      <div id = 'word_fr'></div>
      <div id = 'word_en'></div>
      <input id='user_res' type="text">
      <div id='submit' class='blue_button'>Valider</div>
    </div>
    <div class='popup' id='success'>Bonne réponse! +1</div>
    <div class='popup' id='fail'>Faux! -1</div>
    <h3>Score<h3>
    <div id = 'score'></div>
  </body>

  <footer>
    <hr/>
    <a href='/'>
      <img id='logo' alt='Logo WIY' src='/images/logo-wiy.png'></img>
    </a>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
          crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/play.js"></script>
</html>
